@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: white;
}

.auth, .pages {
    display: flex;
    gap: 10px;
    align-items: center;
}

.login, .signup, .logout, .home, .books, .profile {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #007bff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login:hover, .signup:hover, .logout:hover, .home:hover, .books:hover, .profile:hover {
    cursor: pointer;
    background-color: #0056b3;
}

.logout {
    height: 44px;
    outline: none;
    border: none;
}

.title{
    display: inline-block;
    padding: 10px 20px;
    background-color: #222;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid #323334;
    font-family: 'Inter', sans-serif; /* cool modern font */
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    user-select: none;
}
